<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('includes/head', { title: 'Add Category' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    </head>

    <body>
    <%- include('includes/header') %>
    <main>
        <h1>Add Category</h1>
        <form action="/category" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="" name="name"required>
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea id="description" name="description" required rows="5">
            </textarea>
        </div>
        <button class="btn">Add Category</button>
        </form>
    </main>
    </body>
</html>